@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}
body{
  font-family: 'Noto Sans KR', sans-serif;
  color: white;
}
ul,li{
  list-style: none;
}

.align_center{
  text-align: center;
}
.hidden{
  display: none;
}
.small_text{
  font-size: 75%;
}
.flying{
  position: absolute;
  top: 100%;
  left: 100%;
}

/* 컨테이너 */

#container{
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

/* 배경 이미지 */

#bgImage{
  position: absolute;
  width: 69%;
  height: 80vh;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  margin-bottom: -10px;
  object-fit:cover;
}

/* 로그인 폼 */

#Login_form{
  position:absolute;
  left: 70%;
  top: 4%;
  z-index: 10;
}
#Login_form input{
  color: white;
  border: none;
  background: none;
  width: 150px;
  height: 4rem;
  border-bottom: 3px solid white;
  font-size: 2rem;
  line-height: 4rem;
}
#Login_form input::placeholder{
  color: white;
}
#Login_form button{
  border: none;
  width: 70px;
  height: 40px;
  margin-left: -5px;
  font-size: 200%;
  background: none;
  color: white;
  cursor: pointer;
}
#Login_form button:hover{
  color: orangered;
}

/* 닉네임 + 시계 */

#greetings_container{
  width: 30%;
  height: 10%;
  position:absolute;
  left: 70%;
  top: 9%;
  transform: translateY(-100%);
  display: flex;
  flex-flow: row nowrap;
  justify-content: left;
  align-items: flex-end;
}
#greetings{
  display: inline-block;
  font-size: 3rem;
}
#clock{
  display: inline-block;
  font-size: 2.5rem;
  margin-left: 2rem;
}

/* 오늘의 플레이리스트 */

#playlist iframe{
  width: 20%;
  height: 8%;
  position: absolute;
  bottom: 5%;
  left: 0.5rem;
  transform: translateY(50%);
}

/* 기타 링크모음 */

#linklist{
  width: 48%;
  height: 10%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  position: absolute;
  left: 20%;
  bottom:5%;
  transform: translateY(50%);
  margin-left: 1rem;
}
.icon{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 60%;
}
.icon:hover{
  opacity: .6;
}

/* 투두리스트 */

.right_container{
  width: 23.5%;
  height: 80vh;
  position: absolute;
  top: 10%;
  left: 70%;
}
#todoForm{
  width: 100%;
  height: 30vh;
}
#todoForm input{
  width: 95%;
  height: 20%;
  font-size: 1.6rem;
  color: white;
  background:none;
  border: none;
  border-bottom: 2px solid white;
  margin-left: 2.5%;
  margin-bottom: 0.5%;
}
#todoForm input::placeholder{
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 1.6rem;
  color: rgba(255,255,255,.6);
}
#todoSubmit{
  display: inline-block;
  width: 40%;
  height: 18%;
  font-size: 1.6rem;
  color: none;
  background: white;
  border: none;
  cursor: pointer;
  margin: 1% 0 0 30%;
}
#todoSubmit:hover{
  background: rgba(255,255,255,.6);
}
#todoForm textarea{
  width: 95%;
  height: 53%;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 1.5rem;
  color: white;
  background-color: rgba(255,255,255,.1);
  border: 2px solid rgba(255,255,255,.6);
  resize: none;
  margin: 1% 0 0 2.5%;
}
#todoForm textarea::placeholder{
  font-family: 'Noto Sans KR', sans-serif;
  color: rgba(255,255,255,.8);
  font-size: 1.6rem;
}
#todoForm fieldset{
  width: 100%;
  height: 100%;
  border: 1px dashed white;
}
#todoForm legend{
  font-size: 1.6rem;
  margin-left: 0.5rem;
}
.header::before{
  content: "↓";
  opacity: .6;
  margin-right: 1.5rem;
}
#todolist_header{
  line-height: 5vh;
}
.header::after{
  content: "↓";
  opacity: .6;
  margin-left: 1.5rem;
}
#todoList{
  width: 100%;
  height: 55%;
  position: absolute;
  top: 35vh;
  display: flex;
  flex-flow: column nowrap;
  overflow-y: scroll;
}
#todoList::-webkit-scrollbar{
  width: 10px;
}
#todoList::-webkit-scrollbar-thumb{
  background-color: rgba(255,255,255,.8);
  border-radius: 0px;
}
#todoList::-webkit-scrollbar-track{
  background-color: rgba(255,255,255,.1);
}
#todoList li{
  width: 100%;
  height: 3rem;
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
  overflow:hidden;
  transition: height 0.5s, background-color 0s;
}
.todoList_toggle{
  height: 15rem;
}
#todoList li:hover{
  background-color: rgba(255,255,255,.1);
}
#todoList li dt{
  display: inline-block;
  line-height: 3rem;
  margin-left: 0.5rem;
}
#todoList li dd.todo_memo{
  display: block;
  width: 93%;
  height: 11rem;
  margin : 0.5rem 0 0.5rem 5%;
}
#more_info{
  position: absolute;
  right: 3rem;
  cursor: pointer;
}
#more_info:hover{
  color: orangered;
}
#todoList button{
  font-size: 1.6rem;
  background: none;
  box-shadow: none;
  border: none;
  color: white;
  cursor: pointer;
  position: absolute;
  right: 1rem;
}
#todoList button:hover{
  color: orangered;
}

/* 날씨 */

#weather{
  width: 20%;
  height: 8%;
  position: absolute;
  top: 5%;
  left: 0.5rem;
  transform: translateY(-50%);
  font-size: 2rem;
}
#weather span{
  display:inline-block;
}
#weather button{
  font-size: 1.5rem;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
}
#weather button:hover{
  color: orangered;
}
