@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}
body{
  font-family: 'Noto Sans KR', sans-serif;
  color: white;
}
ul,li{
  list-style: none;
}

.align_center{
  text-align: center;
}
.hidden{
  display: none;
}
.small_text{
  font-size: 75%;
}
.flying{
  position: absolute;
  top: 100vh;
  left: 100vh;
}

/* 컨테이너 */

#container{
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.right_container{
  width: 23.5%;
  height: 80vh;
  position: absolute;
  top: 10%;
  left: 70%;
}

/* 배경 이미지 */

#bgImage{
  position: absolute;
  width: 69%;
  height: 80vh;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  margin-bottom: -10px;
  object-fit:cover;
}

/* 내비 */

#navi{
  width: 5%;
  height: 30vh;
  border-radius: 15px 0 0 15px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  background-color: rgba(255,255,255,.1);
}
.navi_icon{
  width: 80%;
  margin-left: 10%;
}
.navi_icon:hover{
  opacity: .6;
}
.navi_icon:active{
  transform: scale(.97);
}

/* 로그인 폼 */

#Login_form{
  position:absolute;
  left: 70%;
  top: 3%;
  z-index: 10;
}
#Login_form input{
  color: white;
  border: none;
  background: none;
  width: 150px;
  height: 4rem;
  border-bottom: 3px solid white;
  font-size: 2rem;
  line-height: 4rem;
}
#Login_form input::placeholder{
  color: white;
}
#Login_form button{
  border: none;
  width: 70px;
  height: 40px;
  margin-left: -5px;
  font-size: 200%;
  background: none;
  color: white;
  cursor: pointer;
}
#Login_form button:hover{
  color: orangered;
}

/* 닉네임 + 시계 */

#greetings_container{
  width: 30%;
  height: 10%;
  position:absolute;
  left: 70%;
  top: 9%;
  transform: translateY(-100%);
  display: flex;
  flex-flow: row nowrap;
  justify-content: left;
  align-items: flex-end;
}
#greetings{
  display: inline-block;
  font-size: 3rem;
}
#clock{
  display: inline-block;
  font-size: 2.5rem;
  margin-left: 2rem;
}
#logout{
  height: 2.5rem;
  cursor: pointer;
  margin-left: 2rem;
  margin-bottom: 0.25rem;
  filter: grayscale(1) brightness(99);
}
#logout:hover{
  filter: none;
}

/* 오늘의 플레이리스트 */

#playlist iframe{
  width: 20%;
  height: 8%;
  position: absolute;
  bottom: 5%;
  left: 0.5rem;
  transform: translateY(50%);
}

/* 기타 링크모음 */

#linklist{
  width: 48%;
  height: 10%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  position: absolute;
  left: 20%;
  bottom:5%;
  transform: translateY(50%);
  margin-left: 1rem;
}
.icon{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 60%;
}
.icon:hover{
  opacity: .6;
}

/* 투두리스트 */

#todoForm{
  width: 100%;
  height: 30vh;
}
#todoForm input{
  width: 95%;
  height: 20%;
  font-size: 1.6rem;
  color: white;
  background:none;
  border: none;
  border-bottom: 2px solid white;
  margin-left: 2.5%;
  margin-bottom: 0.5%;
}
#todoForm input::placeholder{
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 1.6rem;
  color: rgba(255,255,255,.6);
}
#todoSubmit{
  display: inline-block;
  width: 40%;
  height: 18%;
  font-size: 1.6rem;
  color: none;
  background: white;
  border: none;
  cursor: pointer;
  margin: 1% 0 0 30%;
}
#todoSubmit:hover{
  background: rgba(255,255,255,.6);
}
#todoSubmit:active{
  transform: scale(.97);
}
#todoForm textarea{
  width: 95%;
  height: 53%;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 1.5rem;
  color: white;
  background-color: rgba(255,255,255,.1);
  border: 2px solid rgba(255,255,255,.6);
  resize: none;
  margin: 1% 0 0 2.5%;
}
#todoForm textarea::placeholder{
  font-family: 'Noto Sans KR', sans-serif;
  color: rgba(255,255,255,.8);
  font-size: 1.6rem;
}
#todoForm fieldset{
  width: 100%;
  height: 100%;
  border: 2px dashed white;
}
#todoForm legend{
  font-size: 1.6rem;
  margin-left: 0.5rem;
}
.header::before{
  content: "↓";
  opacity: .6;
  margin-right: 1.5rem;
}
#todolist_header{
  line-height: 5vh;
}
.header::after{
  content: "↓";
  opacity: .6;
  margin-left: 1.5rem;
}
#todoList{
  width: 100%;
  height: 55%;
  position: absolute;
  top: 35vh;
  display: flex;
  flex-flow: column nowrap;
  overflow-x: hidden;
  overflow-y: scroll;
  border-top: 3px solid rgba(255,255,255,.8);
  border-bottom: 3px solid rgba(255,255,255,.8);
}
#todoList::-webkit-scrollbar{
  width: 10px;
}
#todoList::-webkit-scrollbar-thumb{
  background-color: rgba(255,255,255,.8);
  border-radius: 0px;
}
#todoList::-webkit-scrollbar-track{
  background-color: rgba(255,255,255,.1);
}
#todoList li{
  width: 100%;
  height: 3rem;
  font-size: 1.6rem;
  transition: all 0.3s;
  border-bottom: 1px solid rgba(255,255,255,.6);
  position: relative;
}
.todoList_toggle{
  height: 15rem;
}
#todoList li:hover{
  background-color: rgba(255,255,255,.1);
}
#todoList li dt{
  display: inline-block;
  line-height: 3rem;
  margin-left: 0.5rem;
}
#todoList li dd.todo_memo{
  font-size: 90%;
  opacity: 0;
  width: 93%;
  height: 11rem;
  margin : 0.5rem 0 0.5rem 5%;
  transition: all 0.2s;
}
#more_info{
  color:white;
  font-size: 2rem;
  line-height: 2.6rem;
  background:none;
  border:none;
  position: absolute;
  right: 3rem;
  cursor: pointer;
}
#more_info:hover{
  color: orangered;
}
#delete{
  font-size: 1.6rem;
  line-height: 3rem;
  background: none;
  box-shadow: none;
  border: none;
  color: white;
  cursor: pointer;
  position: absolute;
  right: 1rem;
}
#delete:hover{
  color: orangered;
}

/* 날씨 */

#weatherIcon{
  width: 5%;
  height: 8vh;
  position: absolute;
  top: 5%;
  left: 0.5rem;
  transform: translateY(-50%);
}
#weatherIcon img{
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
#weather{
  width: 15%;
  height: 8vh;
  position: absolute;
  top: 5%;
  left: calc(5% + 1rem);
  transform: translateY(-50%);
  font-size: 2rem;
}
#weather span{
  height: 50%;
  display:inline-block;
  position: absolute;
}
#weather span:first-child{
  top: 0;
}
#weather span:last-child{
  bottom: 0;
}
#weather button{
  font-size: 1.5rem;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
}
#weather button:hover{
  color: orangered;
}

/* 캔버스 */

#canvasContainer{
  position: absolute;
  width: 69%;
  height: 80vh;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.jsCanvas{
  width: 100%;
  height: 100%;
  background-color: white;
}
#controls{
  border: 2px dashed white;
  border-radius: 20px;
  background-color: rgba(255,255,255,.1);
}
#rangeContainer{
  width: 90%;
  height: 5%;
  display: inline-block;
  margin-top: 1rem; 
  margin-left: 5%;
  position: relative;
}
#jsRange{
  position:absolute;
  top: 50%;
  transform: translateY(-50%);
}
#btns{
  width: 90%;
  height: 10%;
  display: inline-block;
  margin-left: 5%;
  display: flex;
  align-items: center;
}
#btns button{
  padding: 1rem;
  border: none;
  background-color: white;
  margin-right: 1rem;
}
#btns button:hover{
  opacity: .6;
}
#btns button:active{
  transform: scale(.9);
}
#colors{
  width: 90%;
  height: 10rem;
  display: inline-block;
  display: flex;
  flex-flow: row wrap;
  margin: 5% 0 0 5%;
}
.color{
  width: 5rem;
  height: 5rem;
  display: inline-block;
  cursor: pointer;
}



@media screen and (max-width: 1100px) {
  #navi, #linklist, #canvasContainer, #controls, #bgImage,
   #playlist,#Login_form, #greetings_container, #greetings,
    #logout, #clock{
    display: none;
  }
  #container{
    width: 80%;
    min-width: 250px;
    max-width: 700px;
    height: 1050px;
    margin: 0 auto;
  }
  #weatherIcon{
    width: 100px;
    height: 100px;
    top: 0;
    left: 50%;
    transform: translateX(-100%);
  }
  #weather{
    top: 45px;
    left: calc(50%);
    transform: translateY(-50%);
  }
  #weather span{
    white-space: nowrap;
  }
  #todoContainer{
    top: 100px;
    width: 100%;
    left: 0;
  }
  #todoForm{
    height: 300px;
  }
  #todolist_header{
    line-height: 50px;
  }
  #todoList{
    top: 350px;
    height: 500px;
  }
}